body {
  background: linear-gradient(#fcca35, #fc9562);
}

.orderPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.orderPage h1 {
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.beerList {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 700px;
}

.beerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 12px;
  border: solid 1px grey;
  padding: 15px 20px;
  margin-bottom: 15px;

  transition: 0.2s;
}

.beerCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.beerName {
  font-weight: bold;
  color: #333;
}

.beerButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.beerButtons button {
  font-size: 1.2em;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.addBeerButton {
  background-color: green;
  color: white;
}

.removeBeerButton {
  background-color: red;
  color: white;
}

.amount {
  font-weight: bold;
}

.orderButton {
  position: relative;
  overflow: hidden;
  padding: 16px 36px;
  border-radius: 40px;
  border: none;
  background: black;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.beerFill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(to top, #f7a420, #fcca34);
  transition: height 0.5s;
}

.orderButton:hover .beerFill {
  height: 100%;
}

.orderButton:hover .orderButtonText {
  color: black;
}

.orderButtonText {
  position: relative;
  z-index: 1;
  transition: color 0.6s;
}
